
services:
  azurite:
    image: mcr.microsoft.com/azure-storage/azurite
    container_name: "azurite"
    hostname: azurite
    restart: always
    ports:
      - "10000:10000"
      - "10001:10001"
      - "10002:10002"
    volumes:
      - ./local/azurite:/data
    command: >
        azurite
        --blobHost 0.0.0.0 --blobPort 10000
        --queueHost 0.0.0.0 --queuePort 10001
        --tableHost 0.0.0.0 --tablePort 10002
        --location /data
        --debug /data/debug.log


