---
version: "3.9"
services:
  azurite:
    image: mcr.microsoft.com/azure-storage/azurite
    container_name: "azurite"
    hostname: azurite
    restart: always
    ports:
      - "10000:10000"
      - "10001:10001"
      - "10002:10002"
    volumes:
      - ./data:/workspace
    healthcheck:
      test: ["CMD", "sh", "-c", "nc -z localhost 10000 && localhost 10001 && localhost 10002"]
      interval: 10s
      timeout: 3s
      retries: 5